@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap);

:root {
  --bg-color: #fff;
  --text-color: #335;
  --blur-color: #335a;
  --link-color: #45f;
  --vlink-color: #87b;

  --gradient0-color: var(--link-color);
  --gradient1-color: var(--blur-color);
  --gradient2-color: #e57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #05040c;
    --text-color: #778099;
    --blur-color: #778099aa;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
  text-decoration: none;
  clear: left;
}

/* Layout */

html {
  padding: 2rem;
  text-align: center;
}

@media print {
  html {
    padding: 0;
  }
}

body {
  display: inline-block;
  text-align: left;
  max-width: 45rem;
}

header, footer {
  text-align: center;
}

/* Design */

html {
  font-size: 18px;
  background: var(--bg-color);
}

body {
  font-family: Hind, sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;

  white-space: normal;
  -webkit-font-smoothing: antialiased;
}

a:link { color: var(--link-color); }
a:visited { color: var(--vlink-color); }
a:hover { text-decoration: underline; }

.emblem {
  display: inline-block;
  margin: 32px;
}

.emblem picture {
  position: absolute;
  z-index: -1;
}

.emblem object {
  pointer-events: none;
}

header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 0;
}

main {
  margin-bottom: 2rem;
}

footer {
  font-size: 0.8em;
  color: var(--blur-color);
}

footer p {
  margin: 0;
}

footer a:link, footer a:visited {
  color: var(--blur-color);
}

footer a:hover {
  color: var(--link-color);
}

footer::before {
  content: '';
  display: block;
  height: 2px;
  background: var(--link-color);
  border-radius: 1px;
  margin-bottom: 0.5rem;
}

/* Responsive */

@media screen and (max-width: 49rem) {
  /* 49rem = [max-width of body 45rem] + 2 * [margin of html 2rem] */
  html { padding-left: 1rem; padding-right: 1rem; }
}

@media screen and (max-width: 32rem) {
  html { padding: 1rem 0.75rem 2rem; font-size: 16px; }
  header { margin-bottom: 0; }
  header .emblem { transform: scale(0.8); }
  .nonessential { display: none; }
}

html.loaded { transition: padding 0.2s, font-size 0.2s; }
html.loaded header, html.loaded header .emblem { transition: transform 0.2s; }

/* Specialization */

.index h1 { display: none; }

.error body { max-width: 30rem; }

/* Typography */

p, ul, ol, dl {
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt.label, dd, hr, pre {
  margin-bottom: 1rem;
}

h1 {
  margin-right: 1.5rem;
  white-space: nowrap;
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

h1, h2 {
  font-weight: 600;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  text-decoration: underline;
}

ul li {
  position: relative;
  margin-left: 1.2rem;
  list-style: none;
}

ul li::before {
  content: '•';
  font-size: 1.25rem;
  line-height: 1.3;
  position: absolute;
  left: -1.05rem;
}

hr {
  margin: 1rem 0;
  height: 1px;
  background-color: var(--blur-color);
  border-radius: 0.5px;
  opacity: 0.15;
}

em, em * {
  font-style: normal;
  text-decoration: underline;
}

sup, sub {
  font-size: 0.5em;
}

abbr, acronym {
  cursor: help;
}

dt+dt, dt+dd.attr {
  margin-top: -1rem;
}

dd { margin-left: 1.2rem; }
dd ul, dd ol { margin-left: -1.2rem; }
dd.attr { margin-left: 0; }

dt, dd.attr, dd p, dd ul, dd ol, dd dl, dd dd {
  margin-bottom: 0.5rem;
}

dt.label {
  font-size: 0.8em;
  line-height: 1;
}

dd.label * {
  line-height: inherit;
}

dt.label {
  color: var(--blur-color);
}

.footnote {
  font-size: 0.8em;
  color: var(--blur-color);
  margin-top: -1rem;
}
