<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ meta.title }}</title>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="shortcut icon" type="image/icon" href="favicon.ico" />
</head>
<body>
  <h1>
    <span class="name">{{ profile.name }}</span>
    <span class="nickname">{ {{ profile.nickname }} }</span>
  </h1>
  <h2>
    <span class="job">{{ profile.job|title }}</span>, at
    <a href="{{ profile.employer.url }}">{{ profile.employer.name }}</a>
  </h2>
  <p class="email">
    <a href="mailto:{{ profile.email }}">{{ profile.email }}</a> 
    (Email, Gtalk, MSN)
  </p>
  <p class="sns">
    {% for name in sns %}
      <a href="{{ sns[name].url }}">{{ name }}</a>
      {%- if not loop.last %},{% endif %}
    {% endfor %}
  </p>
  <section class="projects">
    <h3>Projects</h3>
    <ul>
      {% for name in projects %}
        <li><a href="{{ projects[name].url }}">{{ name }}</a>,
        {{ projects[name].desc }}</li>
      {% endfor %}
    </ul>
  </section>
  <section class="contributed">
    <h3>Contributed</h3>
    <p>
      {%- for name in contributed -%}
        <a href="{{ contributed[name].url }}">{{ name }}</a>
        {%- if not loop.last %},{% endif %}
      {% endfor %}
    </p>
  </section>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    var faviconTable = $('<table>').addClass('logo');
    for (var i = 0; i < 16; ++i) {
      var tr = $('<tr>');
      faviconTable.append(tr);
      for (var j = 0; j < 16; ++j) {
        tr.append($('<td>').addClass('c' + j + 'r' + i).append('<i>'));
      }
    }
    $(document.body).prepend(faviconTable);
  </script>
  {% if meta.google_analytics %}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ meta.google_analytics }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var isHTTPS = 'https:' == document.location.protocol;
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = (isHTTPS ? 'https://ssl' : 'http://www')
               + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}
</body>
</html>
