{% extends 'base.html' %}

{% block title %}{{ meta.title }}{% endblock %}

{% block meta %}
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="{{ meta.title }}" /> 
  <meta property="og:description" content="{{ profile.name }}'s Homepage" />
  <meta property="og:image" content="{{ meta.root_url }}opengraph.gif" />
  <meta property="og:url" content="{{ meta.root_url }}" />
  <meta name="author" content="{{ profile.name }}" />
  <meta name="keywords" content="{{ meta.keywords|join(',') }}" />
{% endblock %}

{% block body %}
  <h1>
    <span class="name">{{ profile.name }}</span>
    <span class="nickname">{ {{ profile.nickname }} }</span>
  </h1>
  <h2>
    <span class="job">{{ profile.job|title }}</span>, at
    <a href="{{ profile.employer.url }}">{{ profile.employer.name }}</a>
  </h2>
  <p class="email">
    <a href="mailto:{{ profile.email|entity }}">{{ profile.email|entity }}</a> 
    (Email, Google Talk)
  </p>
  <p class="sns">
    {% for name in sns %}
      <a href="{{ sns[name].url }}">{{ name }}</a>
      {%- if not loop.last %},{% endif %}
    {% endfor %}
  </p>
  <section class="enterprise">
    <h3>Enterprise</h3>
    <ul>
      {% for name in enterprise %}
        <li><a href="{{ enterprise[name].url }}">{{ name }}</a><span>,
          {{ enterprise[name].desc }}</span></li>
      {% endfor %}
    </ul>
  </section>
  <section class="opensource">
    <h3>Open Source</h3>
    <ul>
      {% for name in opensource %}
        <li><a href="{{ opensource[name].url }}">{{ name }}</a><span>,
          {{ opensource[name].desc }}</span></li>
      {% endfor %}
    </ul>
  </section>
  <section class="justforfun">
    <h3>Just for Fun</h3>
    <ul>
      {% for name in justforfun %}
        <li><a href="{{ justforfun[name].url }}">{{ name }}</a><span>,
          {{ justforfun[name].desc }}</span></li>
      {% endfor %}
    </ul>
  </section>
  <section class="contributed">
    <h3>Contributed</h3>
    <p>
      {%- for name in contributed -%}
        <a href="{{ contributed[name].url }}">{{ name }}</a>
        {%- if not loop.last %},{% endif %}
      {% endfor %}
    </p>
  </section>
{% endblock %}
