# Imported Modules
Click==8.0.1
Flask==2.0.1
Frozen-Flask==0.15
Markdown==3.1.1
PyYAML==5.1.1
WeasyPrint==0.42.3  # https://github.com/Kozea/WeasyPrint/issues/1#issuecomment-500153366

# Derived Requirements
cairocffi==1.0.2
CairoSVG==2.4.0
cffi==1.12.3
cssselect2==0.2.1
defusedxml==0.6.0
html5lib==1.0.1
itsdangerous==2.1.0
Jinja2==3.0.1
MarkupSafe==2.0.1
pdfrw==0.4
Pillow==8.2.0
pycparser==2.19
Pyphen==0.9.5
six==1.12.0
tinycss2==1.0.2
webencodings==0.5.1
Werkzeug==2.0.1
