{% extends 'base.html' %}

{% block title %}{{ profile_title }}{% endblock %}
{% block class %}index{% endblock %}

{% block meta %}
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="{{ profile_title }}" /> 
  <meta property="og:description" content="Homepage of {{ author }}" />
  <meta property="og:image" content="{{ url }}og.png" />
  <meta property="og:url" content="{{ url }}" />
  <meta name="author" content="{{ author }}" />
  <meta name="keywords" content="{{ keywords|join(',') }}" />
  <!-- freeze og.png together -->
  <script type="image/png" src="{{ url_for('static', filename='og.png') }}">
  </script>
{% endblock %}

{% block body %}
  {{ profile_html|safe }}
{% endblock %}
