<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=500" />
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  {% block meta %}{% endblock %}
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style-' ~ theme ~ '.css') }}" />
  <script>
    var theme = null;
    function isToday(month, day) {
      var date = new Date();
      return date.getMonth() == month - 1 && date.getDate() == day;
    }
    if (location.hash) {
      theme = location.hash.replace(/^#/, '');
    } else if (isToday(4, 1)) {
      // April Fools' Day
      theme = '90s';
    }
    if (theme) {
      var links = document.getElementsByTagName('link');
      links[links.length - 1].setAttribute('href', '/style-' + theme + '.css');
    }
  </script>
  <link rel="shortcut icon" type="image/icon"
    href="{{ url_for('static', filename='favicon.ico') }}" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="{% block class %}{% endblock %}">
  {% block header %}
    <header>
      {% block inner_header %}
        <table class="logo">
          <tr class="logo-color-1">
            <td rowspan="2"></td>
            <td></td>
            <td rowspan="2"></td>
          </tr>
          <tr class="logo-color-2">
            <td></td>
          </tr>
        </table>
      {% endblock %}
    </header>
  {% endblock %}
  {% block body %}
  {% endblock %}
  {% block footer %}
    <footer>
      {% block inner_footer %}
        <p class="copyright">
          {{ author }} &copy; <span class="year">{{ copyright_year }}</span>
        </p>
        <script>
          // auto-renew the year range of the copyright.
          var $spans = document.getElementsByTagName('span');
          var $year = $spans[$spans.length - 1];
          if ($year.getAttribute('class') == 'year') {
            var since = Number(/^[0-9]+/.exec($year.innerText)[0]);
            var until = Number(/[0-9]+$/.exec($year.innerText)[0]);
            var thisYear = (new Date()).getFullYear();
            until = Math.max(until, thisYear);
            if (since < until) {
              $year.innerHTML = since + '&ndash;' + until;
            } else {
              $year.innerHTML = until;
            }
          }
        </script>
      {% endblock %}
    </footer>
  {% endblock %}
  {% if google_analytics %}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ google_analytics }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var isHTTPS = 'https:' == document.location.protocol;
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = (isHTTPS ? 'https://ssl' : 'http://www')
               + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}
  {% if naver_analytics %}
    <script src="//wcs.naver.net/wcslog.js"></script>
    <script>
      var wcs_add = {wa: '{{ naver_analytics }}'};
      wcs_do();
    </script>
  {% endif %}
</body>
</html>
