table.logo {
  margin: -6px;
  width: 96px;
  height: 96px;
  border-collapse: separate;
  border-spacing: 6px;
  /* The IE border-spacing workaround: http://vacskamati.blogspot.kr/2007/03/
     eliminating-cellspacing-and-cellpadding.html */
  *border-collapse: expression('separate', cellSpacing = '6px');
}

table.logo td {
  width: 24px;
  transition: all 1s;
}

table.logo .logo-color-1 td {
  background: #e34;
  box-shadow: 0 0 1px #e34;
}

table.logo .logo-color-2 td {
  background: #fc3;
  box-shadow: 0 0 1px #fc3;
}

table.logo:hover td {
  border-width: 0;
}

table.logo:hover .logo-color-1 td {
  box-shadow: 0 0 24px rgba(238, 51, 68, 0.5);
}

table.logo:hover .logo-color-2 td {
  box-shadow: 0 0 24px rgba(255, 204, 51, 0.5);
}
