@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
  line-height: 1.5;
  clear: left;
}

body {
  padding: 0 10%;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #788;
  background: #192222;
  white-space: nowrap;
  transition: padding 0.2s;
}

.logo {
  margin: -18px;
  /*margin-left: -18px;*/
  margin-bottom: -26px;
}

a:active .logo {
  background: none;
}

header {
  margin-top: 4em;
  margin-bottom: 1em;
  line-height: 1;
}

footer {
  margin-top: 2em;
  margin-bottom: 4em;
}

footer p {
  font-size: 0.75em;
  color: #455;
}

h1 {
  color: #e34;
  font-weight: 700;
  font-size: 2em;
}

h1 {
  display: none;
}

.error h1 {
  display: block;
  color: #ca4;
}

h2 {
  color: #e34;
  font-weight: 400;
  padding-top: 1em;
}

a:link, a:visited {
  text-decoration: none;
}

a:link {
  color: #ca4;
}

a:visited {
  color: #986;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
    white-space: normal;
  }

  li {
    display: inline;
  }
}
