{% extends 'base.html' %}

{% set title = 'Themes' %}
{% block title %}{{ title }}{% endblock %}
{% block class %}themes{% endblock %}

{% block body %}
  <section class="themes">
    <h1>Themes</h1>
    <ul>
      {% for theme in themes|sort %}
        <li><a href="#{{ theme }}" data-theme="{{ theme }}">{{ theme }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <script src="{{ cdnjs('underscore.js/1.8.3/underscore-min.js') }}"></script>
  <script>
    // build the hash to anchor map.
    var anchors = {}
    _.each($$('.themes a'), function($a) {
      var theme = $a.getAttribute('data-theme');
      anchors[theme] = $a;
    });
    // re-draw the logo when a css is loaded.
    var $redrawer = document.createElement('img');
    $redrawer.onerror = function() {
      // on css loaded.
      setTimeout(function() {
        document.body.style.display = '';
      }, 100);
    };
    function redraw(cssUrl) {
      document.body.style.display = 'none';
      $redrawer.src = cssUrl;
    }
    // a callback function for theme selectors.
    function themeSelected($a) {
      if (/selected/.exec($a.getAttribute('class'))) {
        return;
      }
      var theme = $a.getAttribute('data-theme');
      var cssUrl = selectTheme(theme);
      document.title = {{ title|tojson }} + ': ' + theme;
      // unmark selected anchor.
      var $prevA = arguments.callee.anchor;
      if ($prevA) {
        $prevA.setAttribute('href', '#' + $prevA.getAttribute('data-theme'));
        $prevA.setAttribute('class', '');
        redraw(cssUrl);
      }
      // mark as selected.
      $a.setAttribute('href', {{ url_for('index')|tojson }} + '#' + theme);
      $a.setAttribute('class', 'selected');
      arguments.callee.anchor = $a;
    }
    // register event handlers.
    if ('onhashchange' in window) {
      window.onhashchange = function() {
        var theme = guessTheme();
        themeSelected(anchors[theme]);
      };
    } else {
      function anchorClicked() {
        location.href = this.getAttribute('href');
        themeSelected(this);
        return false;
      }
      _.each(anchors, function($a) {
        $a.onclick = anchorClicked;
      });
    }
    // select the initial theme.
    themeSelected(anchors[__theme__]);
  </script>
{% endblock %}
