<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=400" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" class="theme"
    href="{{ url_for('css', theme=theme) }}" />
  <link rel="shortcut icon" type="image/icon"
    href="{{ url_for('static', filename='favicon.ico') }}" />
  <!--[if lt IE 9]>
  <script src="{{ cdnjs('html5shiv/3.7.2/html5shiv.min.js') }}"></script>
  <script src="{{ cdnjs('sizzle/2.1.1/sizzle.min.js') }}"></script>
  <script>
    {%- call minify_js() %}
      document.head = document.getElementsByTagName('head')[0];
      document.querySelector = function(query) { return Sizzle(query)[0]; };
      document.querySelectorAll = function(query) { return Sizzle(query); };
    {% endcall -%}
  </script>
  <![endif]-->
  <script>
    {%- call minify_js() %}
      var __theme__ = {{ theme|tojson }};
      var __themeSelected__ = false;
      var themeLink = document.querySelector('.theme');
      var faviconLink = document.querySelector('link[rel="shortcut icon"]');
      function getThemeURL(theme) {
        return '/style-' + theme + '.css';
      }
      function parseThemeURL(url) {
        return /style-([^.]+)\.css$/.exec(url)[1];
      }
      function isThemeLoaded() {
        var css = document.styleSheets[0];
        return (__theme__ == parseThemeURL(css.href)) && css.cssRules;
      }
      function guessTheme() {
        var regex = /[?&#]theme=([^&#]+)/;
        var hash = location.hash;
        var href = location.href;
        var theme = (regex.exec(hash) || regex.exec(href) || [])[1];
        if (theme) {
          return theme;
        }
        var date = new Date();
        var eventKey = (date.getMonth() + 1) + '/' + date.getDate();
        var events = {{ events|tojson }};
        theme = events[eventKey];
        return theme || {{ theme|tojson }};
      }
      function updateFavicon() {
        if (!isThemeLoaded()) {
          setTimeout(arguments.callee, 100);
          return;
        }
        var favicon = document.createElement('canvas');
        favicon.width = 16;
        favicon.height = 16;
        var ctx = favicon.getContext('2d');
        var horizontalDirections = ['left', 'middle', 'right'];
        for (var i = 0; i < horizontalDirections.length; ++i) {
          var h = horizontalDirections[i];
          var col = document.querySelector('.emblem-' + h);
          var topCell = col.querySelector('.emblem-top');
          var bottomCell = col.querySelector('.emblem-bottom');
          var left = 1 + i * 5;
          ctx.fillStyle = getComputedStyle(topCell).backgroundColor;
          if (bottomCell.offsetParent) {
            // shape: i
            ctx.fillRect(left, 1, 4, 7);
            ctx.fillStyle = getComputedStyle(bottomCell).backgroundColor;
            ctx.fillRect(left, 9, 4, 6);
          } else {
            // shape: I
            ctx.fillRect(left, 1, 4, 14);
          }
        }
        faviconLink.href = favicon.toDataURL('image/icon');
      }
      function selectTheme(theme) {
        __theme__ = theme;
        __themeSelected__ = true;
        themeLink.setAttribute('href', getThemeURL(theme));
      }
      function selectGuessedTheme() {
        var theme = guessTheme();
        if (theme != __theme__) {
          selectTheme(theme);
        }
        return theme;
      }
      // Select the initial theme.
      selectGuessedTheme();
      // Load jQuery and init instant theme selection when the hash changed.
      window.onhashchange = function() {
        var done = false;
        var jQueryScript = document.createElement('script');
        jQueryScript.src = '//code.jquery.com/jquery-1.11.2.min.js';
        jQueryScript.onload = jQueryScript.onreadystatechange = function() {
          var state = this.readyState;
          if (!done && (!state || /loaded|complete/.exec(state))) {
            this.onload = this.onreadystatechange = null;
            done = true;
            initThemeSelection();
            selectGuessedTheme();
          }
        };
        document.head.appendChild(jQueryScript);
      };
      function initThemeSelection() {
        var $body = $(document.body);
        var $themeStyle = $('<style>').appendTo(document.head);
        // Override selectTheme() to re-draw the page.
        selectTheme = function (theme) {
          __theme__ = theme;
          isThemeLoaded = function() { return false; };
          $body.hide();
          $.get(getThemeURL(theme), function(css) {
            try {
              $themeStyle.text(css);
            } catch (e) {
              // IE8 throws SCRIPT65535.
              location.href = location.href;
              location.reload();
              return;
            }
            setTimeout(function() {
              // Re-draw the page.
              isThemeLoaded = function() { return true; };
              $body.fadeIn();
              updateFavicon();
            }, 10);
          });
          // <link> for theme is not required.
          $(themeLink).remove();
        }
        window.onhashchange = selectGuessedTheme;
      }
    {% endcall -%}
  </script>
  {# open graph #}
  {{ meta(type or 'website', property='og:type')
   ~ meta(title, property='og:title')
   ~(meta(description, property='og:description') if description)
   ~ meta(url_root ~ url_path, property='og:url')
   ~ meta(url_root ~ url_for('static', filename='og.gif'), property='og:image')
   ~ meta('image/gif', property='og:image:type')
  }}
  {# html meta #}
  {{ meta(author, name='author')
   ~ meta(email, name='contact')
   ~ meta('&copy; '|safe ~ copyright_year ~ ' ' ~ author, name='copyright')
  }}
  {% block head %}{% endblock %}
</head>
<body class="{% block class %}{% endblock %}">
  {% block header %}
    <header>
      <div class="emblem-wrap">
        <div class="emblem">
          <div class="emblem-left">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
          <div class="emblem-middle">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
          <div class="emblem-right">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
        </div>
      </div>
      <script> updateFavicon(); </script>
    </header>
  {% endblock %}
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {% block footer %}
    <footer>
      {% block inner_footer %}
        <p class="copyright">
          &copy; <span class="year">{{ copyright_year }}</span> {{ author }}
        </p>
        <script>
          {%- call minify_js(mangle_toplevel=True) %}
            // auto-renew the year range of the copyright.
            var yearSpan = document.querySelector('.year');
            var since = Number(/^[0-9]+/.exec(yearSpan.innerText)[0]);
            var until = Number(/[0-9]+$/.exec(yearSpan.innerText)[0]);
            var thisYear = (new Date()).getFullYear();
            until = Math.max(until, thisYear);
            if (since < until) {
              yearSpan.innerHTML = since + '&ndash;' + until;
            } else {
              yearSpan.innerHTML = until;
            }
          {% endcall -%}
        </script>
      {% endblock %}
    </footer>
  {% endblock %}
  <script>
    {%- call minify_js() %}
      function keepTheme() {
        var $anchors = document.querySelectorAll('a[href]');
        for (var i = 0; i < $anchors.length; ++i) {
          var $a = $anchors[i];
          var href = $a.getAttribute('href');
          if (/^(#|https?:\/\/|mailto:)/.exec(href)) {
            continue;
          }
          if (!/([?&])theme=[^&]+/.exec(href)) {
            var sep = /\?/.exec(href) ? '&' : '?';
            href += sep + 'theme=' + __theme__;
          }
          $a.setAttribute('href', href);
        }
      }
      if (__themeSelected__) {
        keepTheme();
      }
    {% endcall -%}
  </script>
  {% if google_analytics %}
    <script>
      {%- call minify_js() %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var isHTTPS = 'https:' == document.location.protocol;
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = (isHTTPS ? 'https://ssl' : 'http://www')
                 + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
        })();
      {% endcall -%}
    </script>
  {% endif %}
  {% if naver_analytics %}
    <script src="//wcs.naver.net/wcslog.js"></script>
    <script>
      {%- call minify_js() %}
        var wcs_add = {wa: '{{ naver_analytics }}'};
        wcs_do();
      {% endcall -%}
    </script>
  {% endif %}
</body>
</html>
