<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=400" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" class="theme"
    href="{{ url_for('css', theme=theme) }}" />
  <link rel="shortcut icon" type="image/icon"
    href="{{ url_for('static', filename='favicon.ico') }}" />
  <!--[if lt IE 9]>
  <script src="{{ cdnjs('html5shiv/3.7.2/html5shiv.min.js') }}"></script>
  <script src="{{ cdnjs('sizzle/2.1.1/sizzle.min.js') }}"></script>
  <script>
    {%- call minify_js() %}
      document.head = document.getElementsByTagName('head')[0];
      document.querySelector = function(query) { return Sizzle(query)[0]; };
      document.querySelectorAll = function(query) { return Sizzle(query); };
    {% endcall -%}
  </script>
  <![endif]-->
  <script>
    {%- call minify_js() %}
      var __theme__ = {{ theme|tojson }};
      var themeLink = document.querySelector('.theme');
      var faviconLink = document.querySelector('link[rel="shortcut icon"]');
      function getThemeURL(theme) {
        return '/style-' + theme + '.css';
      }
      function parseThemeURL(url) {
        return /style-([^.]+)\.css$/.exec(url)[1];
      }
      function isThemeLoaded() {
        var css = document.styleSheets[0];
        return (__theme__ == parseThemeURL(css.href)) && css.cssRules;
      }
      function guessTheme() {
        var theme;
        if (location.hash) {
          theme = location.hash.replace(/^#/, '');
        } else {
          var date = new Date();
          var eventKey = (date.getMonth() + 1) + '/' + date.getDate();
          var events = {{ events|tojson }};
          theme = events[eventKey];
        }
        return theme || {{ theme|tojson }};
      }
      var faviconRects = {
        t: [6, 1, 4, 7],
        r: [11, 1, 4, 14],
        b: [6, 9, 4, 6],
        l: [1, 1, 4, 14]
      };
      function updateFavicon() {
        function getColor(query) {
          var emblemCell = document.querySelector(query);
          if (emblemCell) {
            var style = getComputedStyle(emblemCell);
            return style.backgroundColor;
          }
        }
        if (!isThemeLoaded()) {
          setTimeout(arguments.callee, 100);
          return;
        }
        var favicon = document.createElement('canvas');
        favicon.width = 16;
        favicon.height = 16;
        var ctx = favicon.getContext('2d');
        for (var d in faviconRects) {
          ctx.fillStyle = getColor('.emblem-' + d);
          ctx.fillRect.apply(ctx, faviconRects[d]);
        }
        faviconLink.href = favicon.toDataURL('image/icon');
      }
      function selectTheme(theme) {
        __theme__ = theme;
        themeLink.setAttribute('href', getThemeURL(theme));
      }
      function selectGuessedTheme() {
        var theme = guessTheme();
        if (theme != __theme__) {
          selectTheme(theme);
        }
        return theme;
      }
      // select the initial theme.
      selectGuessedTheme();

      // load jQuery and init instant theme selection when the hash changed.
      window.onhashchange = function() {
        var done = false;
        var jQueryScript = document.createElement('script');
        jQueryScript.src = '//code.jquery.com/jquery-1.11.2.min.js';
        jQueryScript.onload = jQueryScript.onreadystatechange = function() {
          var state = this.readyState;
          if (!done && (!state || /loaded|complete/.exec(state))) {
            this.onload = this.onreadystatechange = null;
            done = true;
            initThemeSelection();
            selectGuessedTheme();
          }
        };
        document.head.appendChild(jQueryScript);
      };
      function initThemeSelection() {
        var $body = $(document.body);
        var $themeStyle = $('<style>').appendTo(document.head);
        // override selectTheme() to re-draw the page.
        selectTheme = function (theme) {
          __theme__ = theme;
          isThemeLoaded = function() { return false; };
          $body.hide();
          $.get(getThemeURL(theme), function(css) {
            try {
              $themeStyle.text(css);
            } catch (e) {
              // IE8 throws SCRIPT65535.
              location.href = location.href;
              location.reload();
              return;
            }
            setTimeout(function() {
              // re-draw the page.
              isThemeLoaded = function() { return true; };
              $body.fadeIn();
              updateFavicon();
            }, 10);
          });
          // <link> for theme is not required.
          $(themeLink).remove();
        }
        window.onhashchange = selectGuessedTheme;
      }
    {% endcall -%}
  </script>
  {# open graph #}
  {{ meta(type or 'website', property='og:type')
   ~ meta(title, property='og:title')
   ~(meta(description, property='og:description') if description)
   ~ meta(url_root ~ url_path, property='og:url')
   ~ meta(url_root ~ url_for('static', filename='og.gif'), property='og:image')
   ~ meta('image/gif', property='og:image:type')
  }}
  {# html meta #}
  {{ meta(author, name='author')
   ~ meta(email, name='contact')
   ~ meta('&copy; '|safe ~ copyright_year ~ ' ' ~ author, name='copyright')
  }}
  {% block head %}{% endblock %}
</head>
<body class="{% block class %}{% endblock %}">
  {% block header %}
    <header>
      <table class="emblem">
        <tr>
          <td class="emblem-l" rowspan="2"></td>
          <td class="emblem-t"></td>
          <td class="emblem-r" rowspan="2"></td>
        </tr>
        <tr>
          <td class="emblem-b"></td>
        </tr>
      </table>
      <script> updateFavicon(); </script>
    </header>
  {% endblock %}
  {% block body %}
  {% endblock %}
  {% block footer %}
    <footer>
      {% block inner_footer %}
        <p class="copyright">
          &copy; <span class="year">{{ copyright_year }}</span> {{ author }}
        </p>
        <script>
          {%- call minify_js(mangle_toplevel=True) %}
            // auto-renew the year range of the copyright.
            var yearSpan = document.querySelector('.year');
            var since = Number(/^[0-9]+/.exec(yearSpan.innerText)[0]);
            var until = Number(/[0-9]+$/.exec(yearSpan.innerText)[0]);
            var thisYear = (new Date()).getFullYear();
            until = Math.max(until, thisYear);
            if (since < until) {
              yearSpan.innerHTML = since + '&ndash;' + until;
            } else {
              yearSpan.innerHTML = until;
            }
          {% endcall -%}
        </script>
      {% endblock %}
    </footer>
  {% endblock %}
  {% if google_analytics %}
    <script>
      {%- call minify_js() %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var isHTTPS = 'https:' == document.location.protocol;
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = (isHTTPS ? 'https://ssl' : 'http://www')
                 + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
        })();
      {% endcall -%}
    </script>
  {% endif %}
  {% if naver_analytics %}
    <script src="//wcs.naver.net/wcslog.js"></script>
    <script>
      {%- call minify_js() %}
        var wcs_add = {wa: '{{ naver_analytics }}'};
        wcs_do();
      {% endcall -%}
    </script>
  {% endif %}
</body>
</html>
