<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" class="theme"
    href="{{ url_for('css', theme=theme) }}" />
  <link rel="icon" type="image/icon" sizes="16x16"
    href="{{ url_for('favicon') }}" />
  <!--[if lt IE 9]>
  <script src="{{ cdnjs('html5shiv/3.7.2/html5shiv.min.js') }}"></script>
  <script src="{{ cdnjs('sizzle/2.1.1/sizzle.min.js') }}"></script>
  <script>
    {%- call minify_js() %}
      document.head = document.getElementsByTagName('head')[0];
      document.querySelector = function(query) { return Sizzle(query)[0]; };
      document.querySelectorAll = function(query) { return Sizzle(query); };
    {% endcall -%}
  </script>
  <![endif]-->
  <script>
    {%- call minify_js() %}
      {% include 'theme.js_t' %}
    {% endcall -%}
  </script>
  {# open graph #}
  {{ meta(type or 'website', property='og:type')
   ~ meta(title, property='og:title')
   ~(meta(description, property='og:description') if description)
   ~ meta(url_root ~ url_path, property='og:url')
   ~ meta(url_root ~ url_for('static', filename='og.gif'), property='og:image')
   ~ meta('image/gif', property='og:image:type')
  }}
  {# html meta #}
  {{ meta(author, name='author')
   ~ meta(email, name='contact')
   ~ meta('&copy; '|safe ~ copyright_year ~ ' ' ~ author, name='copyright')
  }}
  {% block head %}{% endblock %}
</head>
<body class="{% block class %}{% endblock %}">
  {% block header %}
    <header>
      <div class="emblem-wrap">
        <div class="emblem">
          <div class="emblem-left">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
          <div class="emblem-middle">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
          <div class="emblem-right">
            <i class="emblem-top"></i>
            <i class="emblem-bottom"></i>
          </div>
        </div>
      </div>
      <!--[if !IE]><!-->
      <script> updateFavicon(); </script>
      <!--<![endif]-->
    </header>
  {% endblock %}
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {% block footer %}
    <footer>
      {% block inner_footer %}
        <p class="copyright">
          &copy; <span class="year">{{ copyright_year }}</span> {{ author }}
        </p>
        <script>
          {%- call minify_js(mangle_toplevel=True) %}
            // auto-renew the year range of the copyright.
            var yearSpan = document.querySelector('.year');
            var since = Number(/^[0-9]+/.exec(yearSpan.innerText)[0]);
            var until = Number(/[0-9]+$/.exec(yearSpan.innerText)[0]);
            var thisYear = (new Date()).getFullYear();
            until = Math.max(until, thisYear);
            if (since < until) {
              yearSpan.innerHTML = since + '&ndash;' + until;
            } else {
              yearSpan.innerHTML = until;
            }
          {% endcall -%}
        </script>
      {% endblock %}
    </footer>
  {% endblock %}
  <script>
    {%- call minify_js() %}
      function keepTheme() {
        var $anchors = document.querySelectorAll('a[href]');
        for (var i = 0; i < $anchors.length; ++i) {
          var $a = $anchors[i];
          var href = $a.getAttribute('href');
          if (/^(#|https?:\/\/|mailto:)/.exec(href)) {
            continue;
          }
          if (!/([?&])theme=[^&]+/.exec(href)) {
            var sep = /\?/.exec(href) ? '&' : '?';
            href += sep + 'theme=' + __theme__;
          }
          $a.setAttribute('href', href);
        }
      }
      if (__themeSelected__) {
        keepTheme();
      }
      // avoid an animation at the first time.
      window.onload = function() {
        document.body.style.transition = 'margin 0.2s';
      };
    {% endcall -%}
  </script>
  {% if google_analytics %}
    {% from 'ga.html' import ga %}
    {{ ga(google_analytics) }}
  {% endif %}
  {% if naver_analytics %}
    <script src="//wcs.naver.net/wcslog.js"></script>
    <script>
      {%- call minify_js() %}
        var wcs_add = {wa: '{{ naver_analytics }}'};
        wcs_do();
      {% endcall -%}
    </script>
  {% endif %}
</body>
</html>
