{% extends 'base.html' %}

{% block class %}index{% endblock %}

{% block header %}
{% set width  = 190 %}
{% set height = 120 %}
<header>
  <div class="emblem">
    <picture>
      <source type="image/png" srcset="
        {{ url_for('emblem_raster', height=height)   }} 1x,
        {{ url_for('emblem_raster', height=height*2) }} 2x,
        {{ url_for('emblem_raster', height=height*4) }} 4x,
        {{ url_for('emblem_raster', height=height*8) }} 8x,
      " />
      <img
        src="{{ url_for('emblem_raster', height=height) }}"
        width="{{ width }}" height="{{ height }}"
        alt="Heungsub Lee's emblem"
      />
    </picture>

    <object
      data="{{ url_for('emblem') }}"
      width="{{ width }}" height="{{ height }}"
      type="image/svg+xml" role="none"
      onload="document.querySelector('.emblem picture').style.display='none'">
    </object>
  </div>
</header>
{% endblock %}
