{% extends 'base.html' %}

{% block class %}index{% endblock %}

{% block header %}
<header>
  <div class="emblem">
    <picture>
      <source type="image/png" srcset="
        {{ url_for('emblem_raster', height=64)  }} 1x,
        {{ url_for('emblem_raster', height=128) }} 2x,
        {{ url_for('emblem_raster', height=256) }} 4x,
        {{ url_for('emblem_raster', height=512) }} 8x,
      ">
      <img
        src="{{ url_for('emblem_raster', height=64) }}"
        width="144" height="64" alt="Heungsub Lee's emblem">
    </picture>

    <object
      data="{{ url_for('emblem') }}"
      width="144" height="64" type="image/svg+xml" role="none"
      onload="document.querySelector('.emblem picture').style.display='none'">
    </object>
  </div>

  <div class="profile">
    <h1>Heungsub Lee</h1>
	<p>Software Engineer at <a href="#">Global AI Platform</a></p>
    <p>
      <a href="{{ url_for('resume') }}">Résumé</a>
      &centerdot;
      <a href="https://github.com/sublee">GitHub</a>
      &centerdot;
      <a href="https://linkedin.com/in/sublee">LinkedIn</a>
    </p>
  </div>
</header>
{% endblock %}
