{% extends 'base.html' %}

{% block class %}resume{% endblock %}

{% block og_image %}
<meta property="og:image" content="{{ url_root ~ url_for('resume_social') }}?dummy={{ dummy }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endblock %}

{% block head %}
  <link rel="alternate" type="application/pdf" href="{{ url_for('resume_pdf') }}">
  <link rel="alternate" type="text/markdown" href="{{ url_for('resume_md') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block copyright %}
  {{ super() }}

  &middot;

  {% set updated_iso   = updated.isoformat(timespec='seconds') + 'Z' %}
  {% set updated_long  = updated.strftime('%Y-%m-%d %H:%M (UTC)') %}
  {% set updated_short = updated.strftime('%b %d, %Y') %}

  <span class="nonessential">Last updated on</span>
  <time datetime="{{ updated_iso }}" title="{{ updated_long }}">{{ updated_short }}</time>

  &middot;

  <a href="{{ url_for('resume_pdf') }}" target="_blank">PDF</a>
{% endblock %}
