<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta name="viewport" content="width=320, user-scalable=0" />
  <meta property="og:image" content="{{ url }}/og.gif" />
  <title>SUBLEERUNKER</title>
  <link rel="icon" type="image/icon" href="{{ url }}/favicon.ico" />
  {% from 'ga.html' import ga %}
  {{ ga('UA-1078484-7') }}
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    if (location.search || location.hash) {
      var frameElem = document.getElementsByTagName('frame')[0];
      frameElem .src += location.search + location.hash;
    }
    window.frames[0].focus();
  });
  </script>
</head>
<frameset>
  <frame src="{{ url }}" />
</frameset>
</html>
