{% extends 'base.html' %}

{% set title = 'Themes' %}
{% block title %}{{ title }}{% endblock %}
{% block class %}themes{% endblock %}

{% block main %}
  <h1>Themes</h1>
  <p>Traverse with <kbd>j</kbd> and <kbd>k</kbd>.</p>
  <ul>
    {% for theme, style in themes.items()|sort %}
      <li id="{{ theme }}">
        <img class="favicon" />
        <script>
          var favicon = generateFavicon({{ style.emblem.shape|tojson }},
                                        {{ style.emblem.colors|tojson }});
          document.getElementById({{ theme|tojson }})
                  .querySelector('img.favicon')
                  .setAttribute('src', favicon.toDataURL('image/icon'));
        </script>
        <a href="#theme={{ theme }}" data-theme="{{ theme }}">{{ theme }}</a>
      </li>
    {% endfor %}
  </ul>
  <script>
    // A callback function for theme selectors.
    function themeSelected(a, theme) {
      if (/selected/.exec(a.getAttribute('class'))) {
        return;
      }

      theme = theme || a.getAttribute('data-theme');
      document.title = {{ title|tojson }} + ': ' + theme;

      var prevA = arguments.callee.a;
      if (prevA) {
        prevA.setAttribute('class', '');
      }

      a.setAttribute('class', 'selected');
      arguments.callee.a = a;
    }

    // selectGuessedTheme() is called at onhashchange.  It should call
    // themeSelected() also.
    var _selectGuessedTheme = selectGuessedTheme;
    selectGuessedTheme = function() {
      var theme = _selectGuessedTheme();
      var a = document.querySelector('.themes a[data-theme="'+theme+'"]');
      themeSelected(a, theme);
    };

    // If onhashchange event isn't supported, fallback to anchor click event.
    if (!('onhashchange' in window)) {
      function anchorClicked() {
        location.href = a.attr('href');
        themeSelected(a);
        return false;
      }
      for (var i = 0; i < as.length; ++i) {
        var a = as[i];
        a.onclick = anchorClicked;
      }
    }

    // Callback of the initial theme.
    selectGuessedTheme();
  </script>
{% endblock %}
