name: CI/CD

on:
  push:
    branches:
    - main

jobs:
  link-check:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: tcort/github-action-markdown-link-check@v1

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v6

    - name: flake8
      run: uv run --frozen flake8 sublee.py

    - name: mypy
      run: uv run --frozen mypy sublee.py

  build:
    needs: [link-check, lint]

    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v6

    - name: Freeze
      run: |
        uv run sublee.py freeze _site
        echo "$GITHUB_SHA" > _site/version.txt

    - uses: actions/upload-pages-artifact@v3

  github-pages:
    needs: [build]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-24.04
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4
